// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-container{
	background: #ededed;
	padding: 30px;
	text-align: center;
}

.bot-section{
	background-color: white;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bot-section table{
	width: 100%;
	margin: 20px;
}

.bot-section tbody{
	text-align: left;
}