<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Insta Bot" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Insta Bot" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid body">
      <div class="row content-row">
        <div class="col-md-2">
          <%= render "layouts/navigation" %>
        </div>
        <div class="col-md-10 content-container">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
